#define CONST_MAJOR 3
#define CONST_MINOR 2
#define CONST_RELEASE 2
#define CONST_BUILD 0
#define CONST_VERSION "3.2.2.0\000" 

1 VERSIONINFO
FILEVERSION CONST_MAJOR,CONST_MINOR,CONST_RELEASE,CONST_BUILD
PRODUCTVERSION CONST_MAJOR,CONST_MINOR,CONST_RELEASE,CONST_BUILD
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
    BLOCK "040904E4"
    {
        VALUE "CompanyName", "\0"
        VALUE "FileDescription", "\0"
        VALUE "FileVersion", CONST_VERSION
        VALUE "InternalName", "xampp_control3.exe\0"
        VALUE "LegalCopyright", "©\0"
        VALUE "LegalTrademarks", "\0"
        VALUE "OriginalFilename", "xampp_control3.exe\0"
        VALUE "ProductName", "xampp_control3\0"
        VALUE "ProductVersion", CONST_VERSION
        VALUE "Comments", "\0"
    }
}

BLOCK "VarFileInfo"
{
    VALUE "Translation", 0x0409 0x04E4
}
}